body { font-family: Arial, sans-serif; 
background-color: #d1e15e;


}




.headerBtns{ 
background-color: #ff8080;

padding: 20px;
border-width: 0;
 }
nav{ 
display: flex;
gap: 20px;
justify-content: center;}

#content{ 

text-align:center; }