

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body { font-family: Arial, sans-serif; 
background-color: #d1e15e;


}
#homeHeader, #tagline{ 
color:#e76618; }



body, .headerBtns{ 
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; }
.headerBtns{ 
background-color: #ff8080;

padding: 20px;
border-width: 0;
 }
nav{ 
display: flex;
gap: 20px;
justify-content: center;}

#content{ 

text-align:center; }